.container {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    position: relative;
    // Егор поставил себе позицию релативную. ЭТО ВАЖНО!!!
  }
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-bottom: 80px;
    padding-left: 91px;
    padding-right: 91px;
  }
}

// .container {
//   padding-bottom: 60px;
// }

// @media screen and (min-width: 768px) {
//   .container {
//     padding-left: 32px;
//     padding-right: 32px;
//     padding-bottom: 80px;
//   }
// }
// @media screen and (min-width: 1280px) {
//   .container {
//   }
// }
