.container {
    @media screen and (min-width: 320px) and (max-width: 767px){
        display: flex;
        gap: 1px;
        // position: absolute;
        // bottom: 0px;
        position: absolute;
        bottom: 0;
        width: 100%;
        
    }
}

.one {
    font-family: 'Roboto';
    font-style: normal;
    border-radius: 0px 16px 0px 0px;
    
    text-align: center;
    color: #F6F7FB;
    background-color: #383847;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    // border-width: 1px 1px 0px 0px;
    
    @media screen and (min-width: 320px) and (max-width: 767px) {
        padding: 20px 31px;
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        border-left: none;
        border-bottom: none;
        width: 50%;
        &:active,
        &:focus {
        outline: none;
        color: #60C470;
        box-shadow: 0px 0px 6px #41A350;
        
        } 

    }
}

.two {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border-radius: 16px 0px 0px 0px;
    color: #F6F7FB;
    background-color: #383847;
     @media screen and (min-width: 320px) and (max-width: 767px) {
        padding: 20px 31px;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: none;
        border-bottom: none;
        width: 50%;
        &:active,
        &:focus {
        outline: none;
        color: #60C470;
        box-shadow: 0px 0px 6px #41A350;
        }        

    }
}

/* @media screen and (min-width: 768px) {
     .container {
        display: flex;
        justify-content: flex-start;
    }
    .one {
       border-radius: 16px 16px 0px 0px; 
       width: 138px;
       height: 40px;
       padding: 0px;
       background: #2D2D38 ;
    }

    .two {
        border-radius: 16px 16px 0px 0px;
        width: 138px;
        height: 40px;
        background: #2D2D38 ;
    }
    .one:active {
        color: #60C470;
    }
    .two:active {
        color: #60C470;
    }
    .one:focus,
    .one:hover{
        color: #60C470;
        background: #383847;
        box-shadow: none;
    }
    .two:focus,
    .two:hover{
        color: #60C470;
        background-color: #383847;
        box-shadow: none;
    }
}

@media screen and (max-width: 1280px){
    .container {
        display: flex;
        justify-content: flex-start;
    }

    .one {
       border-radius: 16px 16px 0px 0px; 
       width: 138px;
       height: 40px;
       background: #2D2D38 ;
       
    }

    .two {
        border-radius: 16px 16px 0px 0px;
        width: 138px;
        height: 40px;
        background: #2D2D38 ;
    }
    .one:active {
        color: #60C470;
        background: #383847;
        
    }
    .two:active {
        color: #60C470;
        background: #383847;
        
    }
    .one:focus,
    .one:hover{
        color: #60C470;
        background: #383847;
        box-shadow: none;
    }
    .two:focus,
    .two:hover{
        color: #60C470;
        background: #383847;
        box-shadow: none;
    }
} */
