.GoToReportsLink {
  /* display: block; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: #52555f;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  transition: color var(--transition-timing) var(--transition-function);
}

.GoToReportsLink:hover {
  color: #ff751d;
}

.divToReports {
  margin-bottom: 40px;
  margin-top: 37px;
}

@media screen and (min-width: 768px) {
  .GoToReportsLink {
    display: flex;
    margin-left: 111px;
  }
  .divToReports {
    margin-bottom: 0px;
    margin-top: 0;
  }
}

.iconReport {
  width: 24px;
  height: 24px;
  margin-left: 15px;
  fill: #52555f;
  transition: fill var(--transition-timing) var(--transition-function);
}

.iconReport:hover {
  fill: #ff751d;
}
.divToReports {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .divToReports {
    margin-bottom: 0px;
  }
}