.graph {
  max-width: 100%;
  text-align: center;

  height: 422px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(115.74deg,
      #383847 23.54%,
      rgba(56, 56, 71, 0.29) 107.94%);


}

@media screen and (min-width: 768px) {
  .graph {
    width: 704px;
    height: 422px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1280) {
  .graph {
    max-width: 1034px;
    padding-left: 138px;
    padding-right: 138px;
    border-radius: 30px;

  }
}
