.dateTitle {
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;

  width: 100%;

  display: flex;
  align-items: center;
  span {
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 200%;
    text-transform: uppercase;
  }
}

.dataBlock {
  text-align: center;
  // width: 220px;
  display: flex;
  flex-direction: column;
  p {
    margin-right: auto;
    margin-left: auto;
  }
}

.btn {
  border: none;
  display: flex;
}
