/* @media screen and (min-width: 768px) {
    .container {
        width: 100%;
    }

};
    @media screen and (max-width: 479px) {
        .container {
                width: 100%;
    }
}

    @media screen and (min-width: 768px) {
        .container {
                width: 768px;
    }
} */