.summaryWrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    width: 213px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-height: 290px;
    overflow: hidden;
  }
}

.summaryWrapper tbody {
  display: block;
  max-height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  //  for FireFox browser styles
  scrollbar-width: thin;
  scrollbar-color: #60c470 #474759;
  //  for Chrome, Safari and Opersa browsers styles
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #474759;
  }
  &::-webkit-scrollbar-thumb {
    // скролл из бордера не работает до конца

    //   background-color:transparent;
    //   border-top:130px solid;
    //   border-color: #60c470;
    background-color: #60c470;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track-piece {
    max-height: 242px;
  }
}
.summaryWrapper thead,
.summaryWrapper tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.summaryWrapper thead {
  position: sticky;
  top: 0;
  background-color: rgba(86, 86, 107, 0.5);
}

.summaryBody {
  height: 242px;
  overflow-y: auto;
}
.summaryTable {
  display: none;
  @media screen and (min-width: 768px) {
    display: table;
    width: 100%;
    border-collapse: collapse;
    // border-spacing: 0 2px;
  }
}

.summaryTableHeading {
  padding: 10px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: var(--color--text);
  // border-bottom: 4px solid #383847;
  font-size: 0.9em;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  &:first-child {
    text-align: left;
  }

  &:last-child {
    text-align: center;
  }
}

.summaryLine {
  border-bottom: 2px solid transparent;
}

.summaryLine:first-of-type {
  border-top: 4px solid transparent;
}

.summaryTableCell {
  padding-left: 12px;
  text-align: left;
  vertical-align: middle;
  padding: 12px 0 12px 12px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-bieg);
  background: rgba(86, 86, 107, 0.5);

  &:first-child {
    border-right: none;
  }

  &:nth-child(2) {
    padding-left: 0px;
    padding-right: 12px;
    text-align: right;
  }
}
