:root {
  --primary-black: #1f1f27;
  --primary-white: #ffffff;
  --color--text: #f6f7fb;
  --text-biege: #c7ccdc;
  --text-green: #60c470;
  --text-grey: #a6abb9;
  --text-darkGrey: #80848f;
  --text-warning: #fe4566;
  --button-bgGreen: #42a652;
}
