.form {
  display: flex;
}
.btn_container {
  display: flex;
  @media screen and (min-width: 768px) {
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    gap: 16px;
  }
  @media screen and (min-width: 1200px) {
    position: static;
    transform: translateX(0);
    padding-left: 32px;
  }
  // justify-content: center;
  // margin-top: 32px;
}
.input {
  width: 280px;
  padding: 8px 20px;
  color: rgba(199, 204, 220, 0.5);
  border: 2px solid #474759;
  border-radius: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  font-size: 16px;
  background-color: rgba(56, 56, 71, 1);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  @media screen and (min-width: 768px) {
    width: 194px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    text-align: left;
    border-top-right-radius: 0;
  }
  @media screen and (min-width: 1200px) {
    width: 290px;
    

  }
}
// цвет один и тот же но не совпадает
.input:focus {
  // outline: none;
  border: 2px solid #474759;
}

.select {
  // width: ;
  padding: 15px 20px;
  color: rgba(199, 204, 220, 0.5);
  border: 2px solid #474759;
  border-radius: 0;
  border-bottom-right-radius: 16px;
  background-color: rgba(56, 56, 71, 1);
  appearance: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-align: left;
  width:280px;

  @media screen and (min-width: 768px) {
    max-width: 170px;
    border-bottom-right-radius: 0;
  }
}

.select:focus {
  outline: none;
  max-width: 170px;
}

#select-option {
  box-sizing: border-box;
  
  // падинги для опций !!!!!!
  padding: 9px 18px !important;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: rgba(199, 204, 220, 0.5);
  background-color: rgba(56, 56, 71, 1);
  border: 0;
  text-align: left;
}
#select-option:hover {
  background-color: #474759!important;
  color: rgba(246, 247, 251, 1);
}
#select-option:focus {
  background-color: #474759 !important;
  color: rgba(246, 247, 251, 1) !important;
  /* Styles for the options on hover */
}

#select-option:checked {
  background-color: #474759 !important;
  color: rgba(246, 247, 251, 1) !important;
  /* Styles for the selected option */
}

.input_calc {
  padding: 12px 20px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  color: #c7ccdc;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background-image: ('../../../shared/images/svg/calendar.svg') no-repeat left;
  border: 2px solid #474759;
  border-radius: 22px;
  @media screen and (min-width: 768px) {
    border-radius: 0 16px 16px 0;
    width: 116px;
    text-align: center;
  }
  @media screen and (min-width:1200px){
    padding:12px 37px;
  }
  &:hover,
  &:focus{
    outline:none;
    
    
  }
}
.btn_input {
  border: 2px solid transparent;
  padding: 12px 36px;
  border-radius: 16px;
  background: #42a652;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f6f7fb;
  @media screen and (min-width: 768px) {
    padding:12px 37px;
    text-align: center;
  }
  @media screen and (min-width:1200px){
    padding:16px 48px;
  }
  &:hover,
  &:focus{
    box-shadow: 1px 3px 5px rgba(96, 196, 112, 0.35);
    background: #3d944c;
  }
  
}
.btn_clear {
  border-radius: 16px;
  border: 2px solid #474759;
  padding: 12px 36px;
  background-color: rgba(56, 56, 71, 1);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f6f7fb;
  @media screen and (min-width: 768px) {
    padding:12px 37px;
    text-align: center;
  }
  @media screen and (min-width:1200px){
    padding:16px 48px;
  }
  &:hover,
  &:focus{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
    background-color: rgb(70, 70, 88);
  }
}

