.mobileForm {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.form {
  display: flex;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}
.btn_container {
  display: flex;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 55px;
    gap: 20px;
  }
  @media screen and (min-width: 768px) {
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    gap: 16px;
  }
  @media screen and (min-width: 1200px) {
    position: static;
    transform: translateX(0);
    padding-left: 32px;
  }
}
.input {
  width: 280px;
  padding: 15px 15px;
  color: rgba(199, 204, 220, 0.5);
  border: 2px solid #474759;
  border-radius: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: rgba(56, 56, 71, 1);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  @media screen and (min-width: 768px) {
    width: 194px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    text-align: left;
    border-top-right-radius: 0;
  }
  @media screen and (min-width: 1200px) {
    width: 290px;
  }
  &:focus,
  &:hover {
    outline: none;
    border: 2px solid #474759;
    box-shadow: 0px 6px 7px -2px #41a350;
  }
}
.select-container {
  height:47px;
  @media screen and (min-width: 768px){
    height:auto;
  }
  .select__control{
    height:100%;
  cursor: pointer;
  
  border: 2px solid #474759;
  border-radius: 0;
  border-bottom-right-radius: 16px;
  background-color: rgba(56, 56, 71, 1);
  width: 280px;

  @media screen and (min-width: 768px) {
    width:170px;
    border-bottom-right-radius: 0;
  }
  &--is-focused,
  &:hover {
    outline: none;
    border: 2px solid #474759;
    box-shadow: 0px 6px 7px -2px #41a350;
  }
  }
  .select__value-container{
    padding-left: 13px;}
    .select__placeholder{
      font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: rgba(199, 204, 220, 0.3);
    }
  .select__single-value{
    appearance: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-align: left;
    color: rgba(199, 204, 220, 0.3);
  }
  .select__indicator{
    svg{ fill:rgba(199, 204, 220, 0.3);}
  
  }
  .select__indicator-separator{
    display:none;
  }
  .select__menu{
    background-color: rgba(56, 56, 71, 1);
  }
  .select__option{
    cursor: pointer;
    padding: 9px 18px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.02em;
      color: rgba(199, 204, 220, 0.3);
      background-color: rgba(56, 56, 71, 1);
      border: 0;
      text-align: left;
      &:hover {
        background-color: #474759;
          color: rgba(246, 247, 251, 1);
      }
      &--is-selected{
        background-color: #474759;
          color: rgba(246, 247, 251, 1);
      }
  }
}

.input_calc {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 35px;
  }

  background: url('../../../shared/images/png/calculator1x.png') no-repeat;
  background-position: right 15% bottom 50%;
  background-size: 20px;
  padding: 12px 20px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #c7ccdc;
  border: 2px solid #474759;
  border-radius: 22px;
  @media screen and (min-width: 768px) {
    border-radius: 0 16px 16px 0;
    width: 116px;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    padding: 12px 37px;
  }
  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0px 6px 7px -2px #41a350;
  }
}

.input_calc::-webkit-inner-spin-button,
.input_calc::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn_input {
  border: 2px solid transparent;
  padding: 12px 36px;
  border-radius: 16px;
  background: #42a652;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f6f7fb;
  @media screen and (min-width: 768px) {
    padding: 12px 37px;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    padding: 16px 48px;
  }
  &:hover,
  &:focus {
    box-shadow: 1px 3px 5px rgba(96, 196, 112, 0.35);
    background: #3d944c;
  }
}
.btn_clear {
  border-radius: 16px;
  border: 2px solid #474759;
  padding: 12px 36px;
  background-color: rgba(56, 56, 71, 1);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f6f7fb;
  @media screen and (min-width: 768px) {
    padding: 12px 37px;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    padding: 16px 48px;
  }
  &:hover,
  &:focus {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
    background-color: rgb(70, 70, 88);
  }
}