@media screen and (min-width: 768px){
  .bar {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1034px;
  margin: 0 auto;
  margin-bottom: 32px;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
}


@media screen and (min-width: 1280px) {
.bar {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1034px;
  margin: 0 auto;
  margin-bottom: 32px;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
}