.reports {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgba(199, 204, 220, 0.5);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  gap: 15px;
  /* position: absolute;
  top: 120px;
  right: 120px; */
}





@media screen and (min-width: 768px) {
  .reports {
    display: flex;
    justify-content: flex-end;
    /* position: absolute;
    right: 50px;
    top: 125px; */
  }
 
}

@media screen and (min-width: 1280px) {
.reports {
    display: flex;
    justify-content: flex-end;
    
  }
}